.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2200;
}

.modal-overlay {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    z-index: 2500;
    width: auto;
    height: 80vh;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid black;
    border-radius: 8px;
}

.modal-content {
    background: transparent;
    padding: 0;
    border-radius: 0;
    width: 100%;
    max-height: 100%;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container-half {
    width: 90%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-half {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .container-half {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .container-half {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    .container-half {
        max-width: 600px;
    }
}

@media (min-width: 1400px) {
    .container-half {
        max-width: 660px;
    }
}