.recipe-tile {
    aspect-ratio: 1 / 1;
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
}

.recipe-tile:hover {
    cursor: pointer;
}

.ordered {
    border-color: var(--bs-primary);
    border-width: 2px;
}