.v-stack-fill {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.v-grow-scroll {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden; /* optional: prevent horizontal scrolling */
}



